.profile {
    padding-top: 130px;

    &__info {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    &__icon {
        border-radius: 50%;
    }
    &__title {
        margin: 20px 0;

        font-size: 32px;
        font-weight: 700;
    }
    &__nickname {
        font-size: 20px;
    }
    &__follow {
        margin: 20px;
        display: flex;
        font-size: 20px;

        h1 {
            margin-right: 5px;
        }
    }
    &__buttons {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__bottom {
        margin-top: 30px;
    }
    &__tab {
        display: flex;
        justify-content: center;
        align-items: center;

        .title {
            font-size: 22px;

            margin: 10px;
            padding-bottom: 10px;

            border-bottom: 1px #000 solid;
            cursor: pointer;
        }
    }
    &__gallery {
        display: flex;
        flex-wrap: wrap;

        &-item {
            display: flex;
            margin: 15px;
        }

        &-right {
            width: 80px;
            flex-direction: column;
            flex-wrap: wrap;
        }
    }
    &__img {
        &-1 {
            width: 100px;
            height: 160px;

            border-right: 1px #fff solid;
        }
        &-2, &-3 {
            width: 80px;
            height: 80px;
        }
        &-2 {
            border-bottom: 1px #fff solid;
        }
    }
}