.profile {
    padding-top: 130px;

    &__info {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    &__icon {
        border-radius: 50%;
    }
    &__title {
        margin: 20px 0;

        font-size: 32px;
        font-weight: 700;
    }
    &__nickname {
        font-size: 20px;
    }
    &__follow {
        margin: 20px;
        display: flex;
        font-size: 20px;

        h1 {
            margin-right: 5px;
        }
    }
    &__buttons {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__bottom {
        margin-top: 30px;
    }
    &__tab {
        display: flex;
        justify-content: center;
        align-items: center;

        .title {
            font-size: 22px;

            margin: 10px;
            padding-bottom: 10px;

            border-bottom: 1px #000 solid;
            cursor: pointer;
        }
    }
    &__gallery {
        display: flex;
        flex-wrap: wrap;

        &-item {
            display: flex;
            margin: 55px;

            &.all {
                flex-direction: column;
            }
        }
        &-title {
            font-size: 26px;
            font-weight: 700;
            color: #000;

            margin-top: 30px;
        }
        &-words {
            margin-top: 10px;
            display: flex;

            p, span {
                font-size: 20px;
                color: #000;
            }
            span {
                color: #a9a9a9;
                margin-left: 10px;
            }
        }

        &-right {
            width: 80px;
            flex-direction: column;
            flex-wrap: wrap;
        }
    }
    &__img {
        &-1 {
            width: 230px;
            height: 280px;

            border-right: 1px #fff solid;
            border-bottom-left-radius: 15px;
            border-top-left-radius: 15px;
            object-fit: cover;
        }
        &-2, &-3 {
            width: 130px;
            height: 140px;

            object-fit: cover;
        }
        &-2 {
            border-bottom: 1px #fff solid;
            border-top-right-radius: 15px;
        }
        &-3 {
            border-bottom-right-radius: 15px;
        }
        &-all {
            width: 230px;
            height: 280px;

            object-fit: cover;
            border-radius: 15px;
            border: #fff 1px solid;
        }
    }
}