.pin {
    position: relative;
    margin: 15px 10px;
    border-radius: 16px;
    background: #999;

    display: flex;
    align-items: flex-start;
    flex-direction: column;

    transition: all .3s ease;
    object-fit: cover;

    &::before {
        content: '';
        display: none;
        opacity: 0;

        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;

        width: 100%;
        height: 93%;
        
        background: rgba(#000, .7);
        border-radius: 16px;
    }

    &:hover {
        &::before {
            display: block;
            opacity: 1;
        }
        .btn {
            display: block;
        }
        .pin__bottom {
            img {
                display: block;
            }
        }
    }

    &__author {
        display: flex;
        align-items: center;
    }
    &__icon {
        margin-right: 15px;
        border-radius: 50%;
    }
    &__name {
        font-size: 20px;
        font-weight: 600;
    }
    &__description {
        font-size: 20px;
        display: none;
    }

    &__img {
        position: relative;
        background-size: cover;
        background-position: center;
        border-radius: 16px;

        width: 100%;
        height: 95%;
    }
    &__bottom {
        display: flex;
        align-items: center;
        justify-content: center;

        position: absolute;
        bottom: 50px;
        right: 10px;
        z-index: 2;

        img {
            width: 30px;
            height: 30px;

            display: none;
            margin: 0 5px;

            background: #999;
            padding: 5px;
            border-radius: 30px;

            cursor: pointer;
            transition: all .3s ease-in-out;

            &:hover {
                background: #fff;
            }
        }
    }
}
.small {
    grid-row-end: span 50;
}
.medium {
    grid-row-end: span 60;
}
.huge {
    grid-row-end: span 70;
}